<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.carter.mapper.AlarmMapper" >
  <resultMap id="BaseResultMap" type="com.carter.pojo.Alarm" >
    <id column="alarm_id" property="alarmId" jdbcType="INTEGER" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="alarm_text" property="alarmText" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="hold_time" property="holdTime" jdbcType="VARCHAR" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="devc_id" property="devcId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="ResultMap" type="java.util.Map" >
    <id column="alarm_id" property="alarmId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="name" property="devcName" jdbcType="VARCHAR" />
    <result column="alarm_text" property="alarmText" jdbcType="VARCHAR" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="hold_time" property="holdTime" jdbcType="VARCHAR" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="devc_id" property="devcId" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    alarm_id, code, type, alarm_text, start_time, hold_time, end_time, devc_id, status
  </sql>

  <select id="count" resultType="Integer">
    select count(*) from alarm
    <where>
      and type=#{type}
      and start_time between #{startTime} and #{endTime}
      <if test="deviceId!=-1">
        and devc_id=#{deviceId}
      </if>
    </where>
  </select>

  <select id="selAlarmHistory" resultMap="ResultMap">
    select *
    from alarm,device
    <where>
      <if test="params.deviceParam!=null and params.deviceParam!=''">
        and alarm.devc_id='${params.deviceParam}'
      </if>
      <if test="params.typeParam!=null and params.typeParam!=''">
        and alarm.type='${params.typeParam}'
      </if>
      <if test="params.startParam!=null and params.startParam!=''">
        and alarm.start_time between '${params.startParam}' and '${params.endParam}'
      </if>
      <if test="params.statusParam!=null and params.statusParam!=''">
        and alarm.status='${params.statusParam}'
      </if>
        and alarm.devc_id=device.device_id
    </where>

  </select>

  <select id="selectAlarmByDevcId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select *
    from alarm
    where devc_id = #{devcID,jdbcType=INTEGER}
  </select>

  <select id="selectAlarmNoDealByDevcId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select *
    from alarm
    where devc_id = #{devcID,jdbcType=INTEGER} and status='未解决'
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from alarm
    where alarm_id = #{alarmId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from alarm
    where alarm_id = #{alarmId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.carter.pojo.Alarm" >
    insert into alarm (alarm_id, code, type, 
      alarm_text, start_time, hold_time, 
      end_time, devc_id, status
      )
    values (#{alarmId,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{alarmText,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, #{holdTime,jdbcType=VARCHAR},
      #{endTime,jdbcType=TIMESTAMP}, #{devcId,jdbcType=INTEGER}, #{status,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.carter.pojo.Alarm" >
    insert into alarm
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="alarmId != null" >
        alarm_id,
      </if>
      <if test="code != null" >
        code,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="alarmText != null" >
        alarm_text,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="holdTime != null" >
        hold_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="devcId != null" >
        devc_id,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="alarmId != null" >
        #{alarmId,jdbcType=INTEGER},
      </if>
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="alarmText != null" >
        #{alarmText,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="holdTime != null" >
        #{holdTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="devcId != null" >
        #{devcId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.carter.pojo.Alarm" >
    update alarm
    <set >
      <if test="code != null" >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="alarmText != null" >
        alarm_text = #{alarmText,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="holdTime != null" >
        hold_time = #{holdTime,jdbcType=VARCHAR},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="devcId != null" >
        devc_id = #{devcId,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
    </set>
    where alarm_id = #{alarmId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.carter.pojo.Alarm" >
    update alarm
    set code = #{code,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      alarm_text = #{alarmText,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      hold_time = #{holdTime,jdbcType=VARCHAR},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      devc_id = #{devcId,jdbcType=INTEGER},
      status = #{status,jdbcType=VARCHAR}
    where alarm_id = #{alarmId,jdbcType=INTEGER}
  </update>
</mapper>